.list-todo-container {
    button {
        cursor: pointer;
    }

    .btn-add {
        margin: 0 10px;
    }

    .list-todo-show {
        width: 400px;
        margin: 0 auto;



        .todo-content {
            &:first-child {
                border-top: 1px solid grey;
            }

            height: 40px;
            margin: 5px;
            border-bottom: 1px solid grey;

            .btn-edit {
                margin: 5px;
            }
        }
    }
}